<br>
<div class="card">
  <p>ESSE é o {{title}}</p>
<p>Eu sou o {{name}}</p>
<p>Tenho {{age}} anos</p>
<p>Sou de {{city}}</p>
</div>
<hr>
<h3>Property binding</h3>
<!-- <element [property]='value'> </element> -->
<button type="button" [disabled]="btnShow">PropertyBTN</button><br>
<img [src]="srcValue" [alt]="name" [title]="name">
<div [class.background-primary]="true">
  <p>{{title}}</p>
</div>
<button type="button" (click)="sumClick()">CLICAR</button>
Cliques do mouse: <input type="text" [value]="countClick" readonly="true">
<br>
<hr>
<input [(ngModel)]="name"> {{ name  | uppercase }}
<hr>
<div [ngStyle]="{
  'font-size': age > 20 ? '28px': '18px',
  'font-family': 'Roboto',
  }">
  Testes de estilo
</div>
<div [ngClass]="{'background-primary': city.toLowerCase() == 'campo florido' ? 'true' : 'false'}">Cidade : {{city}}</div>
