<p class="fs-1 text-uppercase text-center">Trabalhando com signals</p>

<div class="row border text-center">
  <span class="lead col border">Primeiro Nome</span>
  <span class="lead col border">Ultimo Nome</span>
  <span class="lead col fw-bolder border border-dark">Nome Completo</span>
</div>
<div class="row border mb-4">
<span class="lead col border">{{firstName()}}</span>
<span class="lead col border">{{lastName()}}</span>
<span class="lead col  fw-bold border border-dark">{{ fullName() }}</span>
</div>

<h3>{{age()}} Anos</h3>
<button type="button" class="btn btn-primary" (click)="updateAge()">Idade misteriosa</button>
